__pycache__/
.DS_Store
.vscode

scratch.*
*.mp4

# Stores environment variables and sensitive info.
.env

# Decrypted versions of files that must be stored *encrypted* in the repo.
client_secret.json
.youtube-upload-credentials.json
.gdrive-upload-credentials.json
gdrive-locations.json
